In [58]:
import os
import pandas as pd
import numpy as np
import collections
from sklearn import preprocessing
from sklearn.model_selection import train_test_split
from sklearn import metrics
from keras.models import Sequential
from keras.layers.core import Dense, Activation
from keras.callbacks import EarlyStopping
%matplotlib inline
import matplotlib.pyplot as plt
from sklearn.metrics import roc_curve, auc


# Encode text values to indexes(i.e. [1],[2],[3] for red,green,blue).
def encode_text_index(df, name):
    le = preprocessing.LabelEncoder()
    df[name] = le.fit_transform(df[name])
    return le.classes_
  
# Encode text values to dummy variables(i.e. [1,0,0],[0,1,0],[0,0,1] for red,green,blue)
def encode_text_dummy(df, name):
    dummies = pd.get_dummies(df[name])
    for x in dummies.columns:
        dummy_name = "{}-{}".format(name, x)
        df[dummy_name] = dummies[x]
    df.drop(name, axis=1, inplace=True)
    
# Encode a column to a range between normalized_low and normalized_high.
def encode_numeric_range(df, name, normalized_low=0, normalized_high=1,
                         data_low=None, data_high=None):
    if data_low is None:
        data_low = min(df[name])
        data_high = max(df[name])

    df[name] = ((df[name] - data_low) / (data_high - data_low)) \
               * (normalized_high - normalized_low) + normalized_low
    
# Convert a Pandas dataframe to the x,y inputs that TensorFlow needs
def to_xy(df, target):
    result = []
    for x in df.columns:
        if x != target:
            result.append(x)
    # find out the type of the target column. 
    target_type = df[target].dtypes
    target_type = target_type[0] if isinstance(target_type, collections.Sequence) else target_type
    # Encode to int for classification, float otherwise. TensorFlow likes 32 bits.
    if target_type in (np.int64, np.int32):
        # Classification
        dummies = pd.get_dummies(df[target])
        return df[result].values.astype(np.float32), dummies.values.astype(np.float32)
    else:
        # Regression
        return df[result].values.astype(np.float32), df[target].values.astype(np.float32)
    

def to_sequences(seq_size, df ,data):
    x = []
    y = []

    for i in range(len(data)-SEQUENCE_SIZE-1):
        #print(i)
        window = df[i:(i+SEQUENCE_SIZE)]
        after_window = data[i+SEQUENCE_SIZE]
        #window = [[x] for x in window]
       #print("{} - {}".format(window,after_window))
        x.append(window)
        y.append(after_window)
        
    return np.array(x),np.array(y)
  
# Regression chart.
def chart_regression(pred,y,sort=True):
    t = pd.DataFrame({'pred' : pred, 'y' : y})
    if sort:
        t.sort_values(by=['y'],inplace=True)
    a = plt.plot(t['y'].tolist(),label='expected')
    b = plt.plot(t['pred'].tolist(),label='prediction')
    plt.ylabel('output')
    plt.legend()
    plt.show()
 
  # Nicely formatted time string
def hms_string(sec_elapsed):
    h = int(sec_elapsed / (60 * 60))
    m = int((sec_elapsed % (60 * 60)) / 60)
    s = sec_elapsed % 60
    return "{}:{:>02}:{:>05.2f}".format(h, m, s)

In [59]:
path=os.getcwd() #+ "\Data"
path
files=os.listdir(path)
files

['.ipynb_checkpoints',
 'Emission.ipynb',
 'emissions_by_unit_and_fuel_type_c_d_aa_2_20_2019.xlsx',
 'Emission_Cooling_FacilityId.xlsx',
 'Generation_Yearly _For_Emission.xlsx',
 'ghgrp_oris_power_plant_crosswalk_8_5_17+TB+JF.xlsx',
 'pre_processed.xlsx',
 '~$Emission_Cooling_FacilityId.xlsx']

In [5]:
f = 'emissions_by_unit_and_fuel_type_c_d_aa_2_20_2019.xlsx'
df_emission = pd.read_excel(f, sheet_name=0, header=5, sort=False, encoding="utf-8")

In [23]:
df_emission

,Facility Id,FRS Id,Facility Name,City,State,Primary NAICS Code,Reporting Year,Industry Type (subparts),Industry Type (sectors),Unit Name,Unit Type,Unit Reporting Method,Unit Maximum Rated Heat Input (mmBTU/hr),Unit CO2 emissions (non-biogenic),Unit Methane (CH4) emissions (mt CO2e),Unit Nitrous Oxide (N2O) emissions (mt CO2e),Unit Biogenic CO2 emissions (metric tons)
0,1012147,NaN,17Z Gas Plant - Chevron USA Inc.,McKittrick,CA,211130,2017,"C,NN,W","Natural Gas and Natural Gas Liquids Suppliers,...",CP-03.00,OCS (Other combustion source),Tier1/2/3,30.000,9106.1,4.25,5.066,0.0
1,1012147,NaN,17Z Gas Plant - Chevron USA Inc.,McKittrick,CA,211112,2016,"C,NN,W","Natural Gas and Natural Gas Liquids Suppliers,...",CP-03.00,OCS (Other combustion source),Tier1/2/3,30.000,9922.2,4.75,5.662,0.0
2,1000112,1.100438e+11,23rd and 3rd,BROOKLYN,NY,221112,2017,"C,D",Power Plants,2301,Electricity Generator,"Tier4, Alt-P75 or P75",NaN,30433.6,14.00,17.880,0.0
3,1000112,1.100438e+11,23rd and 3rd,BROOKLYN,NY,221112,2017,"C,D",Power Plants,2302,Electricity Generator,"Tier4, Alt-P75 or P75",NaN,22146.9,10.25,11.920,0.0
4,1000112,1.100438e+11,23rd and 3rd,BROOKLYN,NY,221112,2017,"C,D",Power Plants,Heatec1,PRH (Process Heater),Tier1/2/3,7.400,32.5,0.00,0.000,0.0
5,1000112,1.100438e+11,23rd and 3rd,BROOKLYN,NY,221112,2017,"C,D",Power Plants,Heatec2,PRH (Process Heater),Tier1/2/3,7.400,32.5,0.00,0.000,0.0
6,1000112,1.100438e+11,23rd and 3rd,BROOKLYN,NY,221112,2016,"C,D",Power Plants,2301,Electricity Generator,"Tier4, Alt-P75 or P75",NaN,34949.2,16.25,20.860,0.0
7,1000112,1.100438e+11,23rd and 3rd,BROOKLYN,NY,221112,2016,"C,D",Power Plants,2302,Electricity Generator,"Tier4, Alt-P75 or P75",NaN,31723.0,14.75,17.880,0.0
8,1000112,1.100438e+11,23rd and 3rd,BROOKLYN,NY,221112,2016,"C,D",Power Plants,Heatec1,PRH (Process Heater),Tier1/2/3,7.400,32.4,0.00,0.000,0.0
9,1000112,1.100438e+11,23rd and 3rd,BROOKLYN,NY,221112,2016,"C,D",Power Plants,Heatec2,PRH (Process Heater),Tier1/2/3,7.400,24.8,0.00,0.000,0.0
10,1000112,1.100438e+11,23rd and 3rd,BROOKLYN,NY,221112,2015,"C,D",Power Plants,2301,Electricity Generator,"Tier4, Alt-P75 or P75",NaN,35203.3,16.25,20.860,0.0
11,1000112,1.100438e+11,23rd and 3rd,BROOKLYN,NY,221112,2015,"C,D",Power Plants,2302,Electricity Generator,"Tier4, Alt-P75 or P75",NaN,31996.0,14.75,17.880,0.0
12,1000112,1.100438e+11,23rd and 3rd,BROOKLYN,NY,221112,2015,"C,D",Power Plants,Heatec1,PRH (Process Heater),Tier1/2/3,7.400,53.2,0.00,0.000,0.0
13,1000112,1.100438e+11,23rd and 3rd,BROOKLYN,NY,221112,2015,"C,D",Power Plants,Heatec2,PRH (Process Heater),Tier1/2/3,7.400,78.8,0.00,0.000,0.0
14,1000112,1.100438e+11,23rd and 3rd,BROOKLYN,NY,221112,2014,"C,D",Power Plants,2301,Electricity Generator,"Tier4, Alt-P75 or P75",NaN,18787.0,8.75,11.920,0.0
15,1000112,1.100438e+11,23rd and 3rd,BROOKLYN,NY,221112,2014,"C,D",Power Plants,2302,Electricity Generator,"Tier4, Alt-P75 or P75",NaN,21720.1,10.00,11.920,0.0
16,1000112,1.100438e+11,23rd and 3rd,BROOKLYN,NY,221112,2014,"C,D",Power Plants,Heatec1,PRH (Process Heater),Tier1/2/3,7.400,88.0,0.00,0.000,0.0
17,1000112,1.100438e+11,23rd and 3rd,BROOKLYN,NY,221112,2014,"C,D",Power Plants,Heatec2,PRH (Process Heater),Tier1/2/3,7.400,86.0,0.00,0.000,0.0
18,1000112,1.100438e+11,23rd and 3rd,BROOKLYN,NY,221112,2013,"C,D",Power Plants,2301,Electricity Generator,"Tier4, Alt-P75 or P75",NaN,55517.6,25.75,29.800,0.0
19,1000112,1.100438e+11,23rd and 3rd,BROOKLYN,NY,221112,2013,"C,D",Power Plants,2302,Electricity Generator,"Tier4, Alt-P75 or P75",NaN,46768.4,21.75,26.820,0.0
20,1000112,1.100438e+11,23rd and 3rd,BROOKLYN,NY,221112,2013,"C,D",Power Plants,Heatec1,PRH (Process Heater),Tier1/2/3,7.400,28.8,0.00,0.000,0.0
21,1000112,1.100438e+11,23rd and 3rd,BROOKLYN,NY,221112,2013,"C,D",Power Plants,Heatec2,PRH (Process Heater),Tier1/2/3,7.400,180.3,0.00,0.000,0.0
22,1000112,1.100438e+11,23rd and 3rd,BROOKLYN,NY,221112,2012,"C,D",Power Plants,2301,Electricity Generator,"Tier4, Alt-P75 or P75",NaN,32267.8,15.00,17.880,0.0
23,1000112,1.100438e+11,23rd and 3rd,BROOKLYN,NY,221112,2012,"C,D",Power Plants,2302,Electricity Generator,"Tier4, Alt-P75 or P75",NaN,36466.1,17.00,20.860,0.0
24,1000112,1.100438e+11,23rd and 3rd,BROOKLYN,NY,221112,2012,"C,D",Power Plants,Heatec1,PRH (Process Heater),Tier1/2/3,7.400,71.3,0.00,0.000,0.0
25,1000112,1.100438e+11,23rd and 3rd,BROOKLYN,NY,221112,2012,"C,D",Power Plants,Heatec2,PRH (Process Heater),Tier1/2/3,7.400,109.4,0.00,0.000,0.0
26,1000112,1.100438e+11,23rd and 3rd,BROOKLYN,NY,221112,2011,"C,D",Power Plants,2301,Electricity Generator,"Tier4, Alt-P75 or P75",NaN,44931.1,20.75,23.840,0.0
27,1000112,1.100438e+11,23rd and 3rd,BROOKLYN,NY,221112,2011,"C,D",Power Plants,2302,Electricity Generator,"Tier4, Alt-P75 or P75",NaN,55269.1,25.50,29.800,0.0
28,1000112,1.100438e+11,23rd and 3rd,BROOKLYN,NY,221112,2011,"C,D",Power Plants,Heatec1,PRH (Process Heater),Tier1/2/3,7.400,133.0,0.00,0.000,0.0
29,1000112,1.100438e+11,23rd and 3rd,BROOKLYN,NY,221112,2011,"C,D",Power Plants,Heatec2,PRH (Process Heater),Tier1/2/3,7.400,156.7,0.00,0.000,0.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
151406,1000805,1.100438e+11,Zion Energy Center,ZION,IL,221112,2013,"C,D",Power Plants,CT-2,Electricity Generator,"Tier4, Alt-P75 or P75",NaN,22309.0,10.25,11.920,0.0
151407,1000805,1.100438e+11,Zion Energy Center,ZION,IL,221112,2013,"C,D",Power Plants,CT-3,Electricity Generator,"Tier4, Alt-P75 or P75",NaN,21778.0,10.00,11.920,0.0
151408,1000805,1.100438e+11,Zion Energy Center,ZION,IL,221112,2013,"C,D",Power Plants,Fuel Gas Heater,"NGLH (Heater, natural gas line)",Tier1/2/3,5.700,149.8,0.00,0.000,0.0
151409,1000805,1.100438e+11,Zion Energy Center,ZION,IL,221112,2012,"C,D",Power Plants,CT-1,Electricity Generator,"Tier4, Alt-P75 or P75",NaN,36659.5,17.00,20.860,0.0
151410,1000805,1.100438e+11,Zion Energy Center,ZION,IL,221112,2012,"C,D",Power Plants,CT-2,Electricity Generator,"Tier4, Alt-P75 or P75",NaN,11509.3,5.25,5.960,0.0
151411,1000805,1.100438e+11,Zion Energy Center,ZION,IL,221112,2012,"C,D",Power Plants,CT-3,Electricity Generator,"Tier4, Alt-P75 or P75",NaN,29784.6,13.75,17.880,0.0
151412,1000805,1.100438e+11,Zion Energy Center,ZION,IL,221112,2012,"C,D",Power Plants,Fuel Gas Heater,"NGLH (Heater, natural gas line)",Tier1/2/3,5.700,0.2,0.00,0.000,0.0
151413,1000805,1.100438e+11,Zion Energy Center,ZION,IL,221112,2011,"C,D",Power Plants,CT-1,Electricity Generator,"Tier4, Alt-P75 or P75",NaN,16110.9,7.50,8.940,0.0
151414,1000805,1.100438e+11,Zion Energy Center,ZION,IL,221112,2011,"C,D",Power Plants,CT-2,Electricity Generator,"Tier4, Alt-P75 or P75",NaN,20230.4,9.50,11.920,0.0
151415,1000805,1.100438e+11,Zion Energy Center,ZION,IL,221112,2011,"C,D",Power Plants,CT-3,Electricity Generator,"Tier4, Alt-P75 or P75",NaN,30401.9,14.00,17.880,0.0
151416,1000805,1.100438e+11,Zion Energy Center,ZION,IL,221112,2011,"C,D",Power Plants,Fuel Gas Heater,"NGLH (Heater, natural gas line)",Tier1/2/3,5.700,0.3,0.00,0.000,0.0
151417,1001464,1.100008e+11,Zuni,DENVER,CO,221330,2017,D,Power Plants,1,Electricity Generator,"Tier4, Alt-P75 or P75",NaN,14348.4,6.50,8.940,0.0
151418,1001464,1.100008e+11,Zuni,DENVER,CO,221330,2016,D,Power Plants,1,Electricity Generator,"Tier4, Alt-P75 or P75",NaN,19330.9,9.00,11.920,0.0
151419,1001464,1.100008e+11,Zuni,DENVER,CO,221330,2016,D,Power Plants,3,Electricity Generator,"Tier4, Alt-P75 or P75",NaN,12.8,0.00,0.000,0.0
151420,1001464,1.100008e+11,Zuni,DENVER,CO,221330,2015,D,Power Plants,1,Electricity Generator,"Tier4, Alt-P75 or P75",NaN,23623.9,11.00,11.920,0.0
151421,1001464,1.100008e+11,Zuni,DENVER,CO,221330,2014,D,Power Plants,1,Electricity Generator,"Tier4, Alt-P75 or P75",NaN,23850.6,11.00,11.920,0.0
151422,1001464,1.100008e+11,Zuni,DENVER,CO,221330,2014,D,Power Plants,3,Electricity Generator,"Tier4, Alt-P75 or P75",NaN,41.6,0.00,0.000,0.0
151423,1001464,1.100008e+11,Zuni,DENVER,CO,221330,2013,D,Power Plants,1,Electricity Generator,"Tier4, Alt-P75 or P75",NaN,29600.7,13.75,17.880,0.0
151424,1001464,1.100008e+11,Zuni,DENVER,CO,221330,2013,D,Power Plants,3,Electricity Generator,"Tier4, Alt-P75 or P75",NaN,1860.7,1.00,0.000,0.0
151425,1001464,1.100008e+11,Zuni,DENVER,CO,221330,2012,D,Power Plants,1,Electricity Generator,"Tier4, Alt-P75 or P75",NaN,26823.1,12.50,14.900,0.0
151426,1001464,1.100008e+11,Zuni,DENVER,CO,221330,2012,D,Power Plants,3,Electricity Generator,"Tier4, Alt-P75 or P75",NaN,1486.9,0.75,0.000,0.0
151427,1001464,1.100008e+11,Zuni,DENVER,CO,221330,2011,D,Power Plants,1,Electricity Generator,"Tier4, Alt-P75 or P75",NaN,29277.8,13.50,14.900,0.0
151428,1001464,1.100008e+11,Zuni,DENVER,CO,221330,2011,D,Power Plants,3,Electricity Generator,"Tier4, Alt-P75 or P75",NaN,1884.2,0.75,0.000,0.0
151429,1003318,1.100438e+11,ZYBACH CRYOGENIC PLANT,Briscoe,TX,211111,2017,"C,W",Petroleum and Natural Gas Systems,GP-Zybach,OCS (Other combustion source),Tier1/2/3,31.932,27266.9,12.75,15.198,0.0
151430,1003318,1.100438e+11,ZYBACH CRYOGENIC PLANT,Briscoe,TX,211111,2016,"C,W",Petroleum and Natural Gas Systems,GP-Zybach,OCS (Other combustion source),Tier1/2/3,32.000,16208.2,7.75,9.238,0.0
151431,1003318,1.100438e+11,ZYBACH CRYOGENIC PLANT,Briscoe,TX,211111,2015,"C,W",Petroleum and Natural Gas Systems,GP-Zybach,OCS (Other combustion source),Tier1/2/3,32.000,33757.8,16.00,19.072,0.0
151432,1003318,1.100438e+11,ZYBACH CRYOGENIC PLANT,Briscoe,TX,211111,2014,"C,W",Petroleum and Natural Gas Systems,GP-Zybach,OCS (Other combustion source),Tier1/2/3,32.000,32901.2,15.50,18.476,0.0
151433,1003318,1.100438e+11,ZYBACH CRYOGENIC PLANT,Briscoe,TX,211111,2013,"C,W",Petroleum and Natural Gas Systems,GP-Zybach,OCS (Other combustion source),Tier1/2/3,32.000,42700.7,20.25,24.138,0.0
151434,1003318,1.100438e+11,ZYBACH CRYOGENIC PLANT,Briscoe,TX,211111,2012,"C,W",Petroleum and Natural Gas Systems,GP-Zybach,OCS (Other combustion source),Tier1/2/3,32.000,46840.7,22.00,26.224,0.0
151435,1003318,1.100438e+11,ZYBACH CRYOGENIC PLANT,Briscoe,TX,211111,2011,"C,W",Petroleum and Natural Gas Systems,GP-Zybach,OCS (Other combustion source),Tier1/2/3,32.000,53482.2,25.25,30.098,0.0

In [7]:
df_industry_type = pd.read_excel(f, sheet_name=2, header=1, sort=False, encoding="utf-8")

In [8]:
lst = df_industry_type["Subpart Letter"].unique()

In [9]:
df_test = pd.DataFrame(columns=lst)

In [10]:
df_test

Empty DataFrame
Columns: [C, D, E, F, G, H, I, K, L, N, O, P, Q, R, S, T, U, V, W, W-OFFSH, W-ONSH, W-GB, W-PROC, W-NGTC, W-TRANS, W-UNSTG, W-LNGSTG, W-LNGIE, W-LDC, X, Y, Z, AA, BB, CC, DD, EE, FF, GG, HH, II, LL, MM, MM – REF, MM – IMP, MM – EXP, NN, NN-FRAC, NN-LDC, OO, PP, QQ, RR, SS, TT, UU]
Index: []

[0 rows x 56 columns]

In [12]:
df_concatenated = df_emission.append(df_test, sort=False)

In [25]:
#df_concatenated=df_concatenated.drop(df_concatenated[151437:], axis=0)
df_concatenated = df_concatenated.drop(df_concatenated.index[[151437,151491]])

In [26]:
new = df_concatenated["Industry Type (subparts)"].str.split(",", expand = True)
new

        0     1     2     3     4     5
0       C    NN     W  None  None  None
1       C    NN     W  None  None  None
2       C     D  None  None  None  None
3       C     D  None  None  None  None
4       C     D  None  None  None  None
5       C     D  None  None  None  None
6       C     D  None  None  None  None
7       C     D  None  None  None  None
8       C     D  None  None  None  None
9       C     D  None  None  None  None
10      C     D  None  None  None  None
11      C     D  None  None  None  None
12      C     D  None  None  None  None
13      C     D  None  None  None  None
14      C     D  None  None  None  None
15      C     D  None  None  None  None
16      C     D  None  None  None  None
17      C     D  None  None  None  None
18      C     D  None  None  None  None
19      C     D  None  None  None  None
20      C     D  None  None  None  None
21      C     D  None  None  None  None
22      C     D  None  None  None  None
23      C     D  None  None  None  None
24      C     D  None  None  None  None
25      C     D  None  None  None  None
26      C     D  None  None  None  None
27      C     D  None  None  None  None
28      C     D  None  None  None  None
29      C     D  None  None  None  None
...    ..   ...   ...   ...   ...   ...
151406  C     D  None  None  None  None
151407  C     D  None  None  None  None
151408  C     D  None  None  None  None
151409  C     D  None  None  None  None
151410  C     D  None  None  None  None
151411  C     D  None  None  None  None
151412  C     D  None  None  None  None
151413  C     D  None  None  None  None
151414  C     D  None  None  None  None
151415  C     D  None  None  None  None
151416  C     D  None  None  None  None
151417  D  None  None  None  None  None
151418  D  None  None  None  None  None
151419  D  None  None  None  None  None
151420  D  None  None  None  None  None
151421  D  None  None  None  None  None
151422  D  None  None  None  None  None
151423  D  None  None  None  None  None
151424  D  None  None  None  None  None
151425  D  None  None  None  None  None
151426  D  None  None  None  None  None
151427  D  None  None  None  None  None
151428  D  None  None  None  None  None
151429  C     W  None  None  None  None
151430  C     W  None  None  None  None
151431  C     W  None  None  None  None
151432  C     W  None  None  None  None
151433  C     W  None  None  None  None
151434  C     W  None  None  None  None
151435  C     W  None  None  None  None

[151436 rows x 6 columns]

In [47]:
for idx, row in new.iterrows():
    for x in range(6):
        if new.loc[idx, x] != None:
            s=new.loc[idx, x]
            df_concatenated.loc[idx, s] = 1

In [54]:
FT = df_industry_type["Facility Type"].unique()

In [55]:
df_temp = pd.DataFrame(columns=FT)

In [56]:
df_temp

Empty DataFrame
Columns: [Direct Emitter, Onshore Oil & Gas Production, Gathering & Boosting, Transmission Pipelines, LDC - Direct Emissions, SF6 from Elec. Equip., Supplier, CO2 Injection]
Index: []

In [78]:
df_concatenated.dtypes

Facility Id                                     float64
FRS Id                                          float64
Facility Name                                    object
City                                             object
State                                            object
Primary NAICS Code                              float64
Reporting Year                                  float64
Industry Type (subparts)                         object
Industry Type (sectors)                          object
Unit Name                                        object
Unit Type                                        object
Unit Reporting Method                            object
Unit Maximum Rated Heat Input (mmBTU/hr)        float64
Unit CO2 emissions (non-biogenic)               float64
Unit Methane (CH4) emissions (mt CO2e)          float64
Unit Nitrous Oxide (N2O) emissions (mt CO2e)    float64
Unit Biogenic CO2 emissions (metric tons)       float64
AA                                              float64
BB                                              float64
C                                               float64
CC                                              float64
D                                               float64
DD                                              float64
E                                               float64
EE                                              float64
F                                               float64
FF                                              float64
G                                               float64
GG                                              float64
H                                               float64
                                                 ...
S                                               float64
SS                                              float64
T                                               float64
TT                                              float64
U                                               float64
UU                                              float64
V                                               float64
W                                               float64
W-GB                                            float64
W-LDC                                           float64
W-LNGIE                                         float64
W-LNGSTG                                        float64
W-NGTC                                          float64
W-OFFSH                                          object
W-ONSH                                          float64
W-PROC                                          float64
W-TRANS                                         float64
W-UNSTG                                         float64
X                                               float64
Y                                               float64
Z                                               float64
RR (RPT)                                        float64
Direct Emitter                                   object
Onshore Oil & Gas Production                     object
Gathering & Boosting                             object
Transmission Pipelines                           object
LDC - Direct Emissions                           object
SF6 from Elec. Equip.                            object
Supplier                                         object
CO2 Injection                                    object
Length: 82, dtype: object

In [65]:
df_concatenated = df_concatenated.drop('Facility Type', axis=1)
df_concatenated = df_concatenated.drop('Name of industry', axis=1)
df_concatenated = df_concatenated.drop('Subpart Letter', axis=1)

In [67]:
df_concatenated = df_concatenated.append(df_temp, sort=False)

In [80]:
df_concatenated['C'] = pd.to_numeric(df_concatenated['C'], errors='coerce')
df_concatenated['D'] = pd.to_numeric(df_concatenated['D'], errors='coerce')
df_concatenated['E'] = pd.to_numeric(df_concatenated['E'], errors='coerce')
df_concatenated['F'] = pd.to_numeric(df_concatenated['F'], errors='coerce')
df_concatenated['G'] = pd.to_numeric(df_concatenated['G'], errors='coerce')
df_concatenated['H'] = pd.to_numeric(df_concatenated['H'], errors='coerce')
df_concatenated['I'] = pd.to_numeric(df_concatenated['I'], errors='coerce')
df_concatenated['K'] = pd.to_numeric(df_concatenated['K'], errors='coerce')
df_concatenated['L'] = pd.to_numeric(df_concatenated['L'], errors='coerce')
df_concatenated['N'] = pd.to_numeric(df_concatenated['N'], errors='coerce')
df_concatenated['O'] = pd.to_numeric(df_concatenated['O'], errors='coerce')
df_concatenated['P'] = pd.to_numeric(df_concatenated['P'], errors='coerce')
df_concatenated['Q'] = pd.to_numeric(df_concatenated['Q'], errors='coerce')
df_concatenated['R'] = pd.to_numeric(df_concatenated['R'], errors='coerce')
df_concatenated['S'] = pd.to_numeric(df_concatenated['S'], errors='coerce')
df_concatenated['T'] = pd.to_numeric(df_concatenated['T'], errors='coerce')
df_concatenated['U'] = pd.to_numeric(df_concatenated['U'], errors='coerce')
df_concatenated['V'] = pd.to_numeric(df_concatenated['V'], errors='coerce')
df_concatenated['W'] = pd.to_numeric(df_concatenated['W'], errors='coerce')
df_concatenated['W-ONSH'] = pd.to_numeric(df_concatenated['W-ONSH'], errors='coerce')
df_concatenated['W-GB'] = pd.to_numeric(df_concatenated['W-GB'], errors='coerce')
df_concatenated['W-PROC'] = pd.to_numeric(df_concatenated['W-PROC'], errors='coerce')
df_concatenated['W-NGTC'] = pd.to_numeric(df_concatenated['W-NGTC'], errors='coerce')
df_concatenated['W-TRANS'] = pd.to_numeric(df_concatenated['W-TRANS'], errors='coerce')
df_concatenated['W-UNSTG'] = pd.to_numeric(df_concatenated['W-UNSTG'], errors='coerce')
df_concatenated['W-LNGSTG'] = pd.to_numeric(df_concatenated['W-LNGSTG'], errors='coerce')
df_concatenated['W-LNGIE'] = pd.to_numeric(df_concatenated['W-LNGIE'], errors='coerce')
df_concatenated['W-LDC'] = pd.to_numeric(df_concatenated['W-LDC'], errors='coerce')
df_concatenated['X'] = pd.to_numeric(df_concatenated['X'], errors='coerce')
df_concatenated['Y'] = pd.to_numeric(df_concatenated['Y'], errors='coerce')
df_concatenated['Z'] = pd.to_numeric(df_concatenated['Z'], errors='coerce')
df_concatenated['AA'] = pd.to_numeric(df_concatenated['AA'], errors='coerce')
df_concatenated['BB'] = pd.to_numeric(df_concatenated['BB'], errors='coerce')
df_concatenated['CC'] = pd.to_numeric(df_concatenated['CC'], errors='coerce')
df_concatenated['DD'] = pd.to_numeric(df_concatenated['DD'], errors='coerce')
df_concatenated['EE'] = pd.to_numeric(df_concatenated['EE'], errors='coerce')
df_concatenated['FF'] = pd.to_numeric(df_concatenated['FF'], errors='coerce')
df_concatenated['GG'] = pd.to_numeric(df_concatenated['GG'], errors='coerce')
df_concatenated['HH'] = pd.to_numeric(df_concatenated['HH'], errors='coerce')
df_concatenated['II'] = pd.to_numeric(df_concatenated['II'], errors='coerce')
df_concatenated['LL'] = pd.to_numeric(df_concatenated['LL'], errors='coerce')
df_concatenated['MM'] = pd.to_numeric(df_concatenated['MM'], errors='coerce')
df_concatenated['MM – REF'] = pd.to_numeric(df_concatenated['MM – REF'], errors='coerce')
df_concatenated['MM – IMP'] = pd.to_numeric(df_concatenated['MM – IMP'], errors='coerce')
df_concatenated['MM – EXP'] = pd.to_numeric(df_concatenated['MM – EXP'], errors='coerce')
df_concatenated['NN'] = pd.to_numeric(df_concatenated['NN'], errors='coerce')
df_concatenated['NN-FRAC'] = pd.to_numeric(df_concatenated['NN-FRAC'], errors='coerce')
df_concatenated['NN-LDC'] = pd.to_numeric(df_concatenated['NN-LDC'], errors='coerce')
df_concatenated['OO'] = pd.to_numeric(df_concatenated['OO'], errors='coerce')
df_concatenated['PP'] = pd.to_numeric(df_concatenated['PP'], errors='coerce')
df_concatenated['QQ'] = pd.to_numeric(df_concatenated['QQ'], errors='coerce')
df_concatenated['RR'] = pd.to_numeric(df_concatenated['RR'], errors='coerce')
df_concatenated['SS'] = pd.to_numeric(df_concatenated['SS'], errors='coerce')
df_concatenated['TT'] = pd.to_numeric(df_concatenated['TT'], errors='coerce')
df_concatenated['UU'] = pd.to_numeric(df_concatenated['UU'], errors='coerce')
df_concatenated['Direct Emitter'] = pd.to_numeric(df_concatenated['Direct Emitter'], errors='coerce')
df_concatenated['Onshore Oil & Gas Production'] = pd.to_numeric(df_concatenated['Onshore Oil & Gas Production'], errors='coerce')
df_concatenated['Gathering & Boosting'] = pd.to_numeric(df_concatenated['Gathering & Boosting'], errors='coerce')
df_concatenated['Transmission Pipelines'] = pd.to_numeric(df_concatenated['Transmission Pipelines'], errors='coerce')
df_concatenated['LDC - Direct Emissions'] = pd.to_numeric(df_concatenated['LDC - Direct Emissions'], errors='coerce')
df_concatenated['SF6 from Elec. Equip.'] = pd.to_numeric(df_concatenated['SF6 from Elec. Equip.'], errors='coerce')
df_concatenated['Supplier'] = pd.to_numeric(df_concatenated['Supplier'], errors='coerce')
df_concatenated['CO2 Injection'] = pd.to_numeric(df_concatenated['CO2 Injection'], errors='coerce')

In [82]:
for idx, row in df_concatenated.iterrows():
    if(df_concatenated.loc[idx,'C']==1 | df_concatenated.loc[idx,'D']==1 | df_concatenated.loc[idx,'E']==1 | df_concatenated.loc[idx,'F']==1 | df_concatenated.loc[idx,'G']==1 | df_concatenated.loc[idx,'H']==1 | df_concatenated.loc[idx,'I']==1 | df_concatenated.loc[idx,'K']==1 | df_concatenated.loc[idx,'L']==1 | df_concatenated.loc[idx,'N']==1 | df_concatenated.loc[idx,'O']==1 | df_concatenated.loc[idx,'P']==1 | df_concatenated.loc[idx,'Q']==1 | df_concatenated.loc[idx,'R']==1 | df_concatenated.loc[idx,'S']==1 | df_concatenated.loc[idx,'T']==1 | df_concatenated.loc[idx,'U']==1 | df_concatenated.loc[idx,'V']==1 | df_concatenated.loc[idx,'W']==1 | df_concatenated.loc[idx,'W-OFFSH']==1 | df_concatenated.loc[idx,'W-PROC']==1 | df_concatenated.loc[idx,'W-NGTC']==1 | df_concatenated.loc[idx,'W-UNSTG']==1 | df_concatenated.loc[idx,'W-LNGSTG']==1 | df_concatenated.loc[idx,'W-LNGIE']==1 | df_concatenated.loc[idx,'X']==1 | df_concatenated.loc[idx,'Y']==1 | df_concatenated.loc[idx,'Z']==1 | df_concatenated.loc[idx,'AA']==1 | df_concatenated.loc[idx,'BB']==1 | df_concatenated.loc[idx,'CC']==1 | df_concatenated.loc[idx,'EE']==1 | df_concatenated.loc[idx,'FF']==1 | df_concatenated.loc[idx,'GG']==1 | df_concatenated.loc[idx,'HH']==1 | df_concatenated.loc[idx,'II']==1 | df_concatenated.loc[idx,'SS']==1 | df_concatenated.loc[idx,'TT']==1):
        df_concatenated.loc[idx,'Direct Emitter'] = 1
    if(df_concatenated.loc[idx,'RR']==1 | df_concatenated.loc[idx,'UU'] ==1):
        df_concatenated.loc[idx,'CO2 Injection'] = 1
    if(df_concatenated.loc[idx,'W-GB']==1):
        df_concatenated.loc[idx,'Gathering & Boosting'] = 1
    if(df_concatenated.loc[idx,'W-LDC']==1):
        df_concatenated.loc[idx,'LDC - Direct Emissions'] = 1
    if(df_concatenated.loc[idx,'W-ONSH']==1):
        df_concatenated.loc[idx,'Onshore Oil & Gas Production'] = 1
    if(df_concatenated.loc[idx,'DD']==1):
        df_concatenated.loc[idx,'SF6 from Elec. Equip.'] = 1
    if(df_concatenated.loc[idx,'DD']==1):
        df_concatenated.loc[idx,'SF6 from Elec. Equip.'] = 1
    if(df_concatenated.loc[idx,'LL']==1 | df_concatenated.loc[idx,'MM']==1 | df_concatenated.loc[idx,'MM – REF']==1 | df_concatenated.loc[idx,'MM – IMP']==1 | df_concatenated.loc[idx,'MM – EXP']==1 | df_concatenated.loc[idx,'NN']==1 | df_concatenated.loc[idx,'NN-FRAC']==1 | df_concatenated.loc[idx,'NN-LDC']==1 | df_concatenated.loc[idx,'OO']==1 | df_concatenated.loc[idx,'PP']==1 | df_concatenated.loc[idx,'QQ']==1):
        df_concatenated.loc[idx,'Supplier']=1
    if(df_concatenated.loc[idx,'W-TRANS']==1):
        df_concatenated.loc[idx,'Transmission Pipelines'] = 1

TypeError: unsupported operand type(s) for |: 'int' and 'numpy.float64'

# Fuel-Data and Generation

In [60]:
path=os.getcwd() #+ "\Data"
path
files=os.listdir(path)
files

['.ipynb_checkpoints',
 'Emission.ipynb',
 'emissions_by_unit_and_fuel_type_c_d_aa_2_20_2019.xlsx',
 'Emission_Cooling_FacilityId.xlsx',
 'Generation_Yearly _For_Emission.xlsx',
 'ghgrp_oris_power_plant_crosswalk_8_5_17+TB+JF.xlsx',
 'pre_processed.xlsx',
 '~$Emission_Cooling_FacilityId.xlsx']

In [77]:
f = 'Emission_Cooling_FacilityId.xlsx'
df_emi_cool = pd.read_excel(f, sheet_name=3, usecols="A,B,D,F,H,I,J,L,P,Q,R", header=0, sort=False, encoding="utf-8")

In [78]:
df_emi_cool.dtypes

Facility Id                                           int64
Plant Code                                           object
Facility Name                                        object
State                                                object
Reporting Year                                        int64
Industry Type (subparts)                             object
Industry Type (sectors)                              object
General Fuel Type                                    object
Fuel CO2 emissions (non-biogenic)  (metric tons)    float64
Fuel Methane (CH4) emissions (mt CO2e)              float64
Fuel Nitrous Oxide (N2O) emissions (mt CO2e)        float64
dtype: object

In [83]:
df_emi_cool.loc[(df_emi_cool['Industry Type (sectors)'] != 'Power Plants')]

Empty DataFrame
Columns: [Facility Id, Plant Code, Facility Name, State, Reporting Year, Industry Type (subparts), Industry Type (sectors), General Fuel Type, Fuel CO2 emissions (non-biogenic)  (metric tons), Fuel Methane (CH4) emissions (mt CO2e), Fuel Nitrous Oxide (N2O) emissions (mt CO2e)]
Index: []

In [82]:
df_emi_cool=df_emi_cool[~(df_emi_cool['Industry Type (sectors)'] != 'Power Plants')]

In [84]:
# Renaming attributes
df_emi_cool.rename(columns={'Fuel CO2 emissions (non-biogenic)  (metric tons)': 'Fuel_CO2_Emissions', 
                            'Fuel Methane (CH4) emissions (mt CO2e)': 'Fuel_Methan_CH4_Emissions',
                            'Fuel Nitrous Oxide (N2O) emissions (mt CO2e)':'Fuel_Nitrous_Oxide_N2O_Emissions'}, inplace=True);

In [85]:
df_Emission_Gen = df_emi_cool

In [86]:
df_Emission_Gen['Total_Emission']=df_Emission_Gen['Fuel_CO2_Emissions']+df_Emission_Gen['Fuel_Methan_CH4_Emissions']+df_Emission_Gen['Fuel_Nitrous_Oxide_N2O_Emissions']

In [87]:
df_Emission_Gen

,Facility Id,Plant Code,Facility Name,State,Reporting Year,Industry Type (subparts),Industry Type (sectors),General Fuel Type,Fuel_CO2_Emissions,Fuel_Methan_CH4_Emissions,Fuel_Nitrous_Oxide_N2O_Emissions,Total_Emission
2,1000112,7910,23rd and 3rd,NY,2017,"C,D",Power Plants,Natural Gas,30433.60,14.00,17.88,30465.48
3,1000112,7910,23rd and 3rd,NY,2017,"C,D",Power Plants,Natural Gas,22146.90,10.25,11.92,22169.07
4,1000112,7910,23rd and 3rd,NY,2017,"C,D",Power Plants,Natural Gas,32.50,0.00,0.00,32.50
5,1000112,7910,23rd and 3rd,NY,2017,"C,D",Power Plants,Natural Gas,32.50,0.00,0.00,32.50
6,1000112,7910,23rd and 3rd,NY,2016,"C,D",Power Plants,Natural Gas,34949.20,16.25,20.86,34986.31
7,1000112,7910,23rd and 3rd,NY,2016,"C,D",Power Plants,Natural Gas,31723.00,14.75,17.88,31755.63
8,1000112,7910,23rd and 3rd,NY,2016,"C,D",Power Plants,Natural Gas,32.40,0.00,0.00,32.40
9,1000112,7910,23rd and 3rd,NY,2016,"C,D",Power Plants,Natural Gas,24.80,0.00,0.00,24.80
10,1000112,7910,23rd and 3rd,NY,2015,"C,D",Power Plants,Natural Gas,35203.30,16.25,20.86,35240.41
11,1000112,7910,23rd and 3rd,NY,2015,"C,D",Power Plants,Natural Gas,31996.00,14.75,17.88,32028.63
12,1000112,7910,23rd and 3rd,NY,2015,"C,D",Power Plants,Natural Gas,53.20,0.00,0.00,53.20
13,1000112,7910,23rd and 3rd,NY,2015,"C,D",Power Plants,Natural Gas,78.80,0.00,0.00,78.80
14,1000112,7910,23rd and 3rd,NY,2014,"C,D",Power Plants,Natural Gas,18787.00,8.75,11.92,18807.67
15,1000112,7910,23rd and 3rd,NY,2014,"C,D",Power Plants,Natural Gas,21720.10,10.00,11.92,21742.02
16,1000112,7910,23rd and 3rd,NY,2014,"C,D",Power Plants,Natural Gas,88.00,0.00,0.00,88.00
17,1000112,7910,23rd and 3rd,NY,2014,"C,D",Power Plants,Natural Gas,86.00,0.00,0.00,86.00
18,1000112,7910,23rd and 3rd,NY,2013,"C,D",Power Plants,Natural Gas,55517.60,25.75,29.80,55573.15
19,1000112,7910,23rd and 3rd,NY,2013,"C,D",Power Plants,Natural Gas,46768.40,21.75,26.82,46816.97
20,1000112,7910,23rd and 3rd,NY,2013,"C,D",Power Plants,Natural Gas,28.80,0.00,0.00,28.80
21,1000112,7910,23rd and 3rd,NY,2013,"C,D",Power Plants,Natural Gas,180.30,0.00,0.00,180.30
22,1000112,7910,23rd and 3rd,NY,2012,"C,D",Power Plants,Natural Gas,32267.80,15.00,17.88,32300.68
23,1000112,7910,23rd and 3rd,NY,2012,"C,D",Power Plants,Natural Gas,36466.10,17.00,20.86,36503.96
24,1000112,7910,23rd and 3rd,NY,2012,"C,D",Power Plants,Natural Gas,71.30,0.00,0.00,71.30
25,1000112,7910,23rd and 3rd,NY,2012,"C,D",Power Plants,Natural Gas,109.40,0.00,0.00,109.40
26,1000112,7910,23rd and 3rd,NY,2011,"C,D",Power Plants,Natural Gas,44931.10,20.75,23.84,44975.69
27,1000112,7910,23rd and 3rd,NY,2011,"C,D",Power Plants,Natural Gas,55269.10,25.50,29.80,55324.40
28,1000112,7910,23rd and 3rd,NY,2011,"C,D",Power Plants,Natural Gas,133.00,0.00,0.00,133.00
29,1000112,7910,23rd and 3rd,NY,2011,"C,D",Power Plants,Natural Gas,156.70,0.00,0.00,156.70
210,1001106,7258,48th Street Peaking Station,MI,2017,"C,D",Power Plants,Natural Gas,7366.10,3.50,2.98,7372.58
211,1001106,7258,48th Street Peaking Station,MI,2017,"C,D",Power Plants,Natural Gas,20351.60,9.50,11.92,20373.02
...,...,...,...,...,...,...,...,...,...,...,...,...
183217,1000805,55392,Zion Energy Center,IL,2014,"C,D",Power Plants,Petroleum Products,1958.91,2.00,5.96,1966.87
183218,1000805,55392,Zion Energy Center,IL,2014,"C,D",Power Plants,Natural Gas,12981.43,6.00,5.96,12993.39
183219,1000805,55392,Zion Energy Center,IL,2014,"C,D",Power Plants,Petroleum Products,3255.17,3.25,8.94,3267.36
183220,1000805,55392,Zion Energy Center,IL,2014,"C,D",Power Plants,Natural Gas,7922.06,3.75,2.98,7928.79
183221,1000805,55392,Zion Energy Center,IL,2014,"C,D",Power Plants,Petroleum Products,1642.84,1.50,2.98,1647.32
183222,1000805,55392,Zion Energy Center,IL,2014,"C,D",Power Plants,Natural Gas,94.20,0.00,0.00,94.20
183223,1000805,55392,Zion Energy Center,IL,2013,"C,D",Power Plants,Natural Gas,26184.80,12.00,14.90,26211.70
183224,1000805,55392,Zion Energy Center,IL,2013,"C,D",Power Plants,Natural Gas,22309.00,10.25,11.92,22331.17
183225,1000805,55392,Zion Energy Center,IL,2013,"C,D",Power Plants,Natural Gas,21778.00,10.00,11.92,21799.92
183226,1000805,55392,Zion Energy Center,IL,2013,"C,D",Power Plants,Natural Gas,149.80,0.00,0.00,149.80
183227,1000805,55392,Zion Energy Center,IL,2012,"C,D",Power Plants,Natural Gas,36659.50,17.00,20.86,36697.36
183228,1000805,55392,Zion Energy Center,IL,2012,"C,D",Power Plants,Natural Gas,11509.30,5.25,5.96,11520.51
183229,1000805,55392,Zion Energy Center,IL,2012,"C,D",Power Plants,Natural Gas,29784.60,13.75,17.88,29816.23
183230,1000805,55392,Zion Energy Center,IL,2012,"C,D",Power Plants,Natural Gas,0.20,0.00,0.00,0.20
183231,1000805,55392,Zion Energy Center,IL,2011,"C,D",Power Plants,Natural Gas,16110.90,7.50,8.94,16127.34
183232,1000805,55392,Zion Energy Center,IL,2011,"C,D",Power Plants,Natural Gas,20230.40,9.50,11.92,20251.82
183233,1000805,55392,Zion Energy Center,IL,2011,"C,D",Power Plants,Natural Gas,30401.90,14.00,17.88,30433.78
183234,1000805,55392,Zion Energy Center,IL,2011,"C,D",Power Plants,Natural Gas,0.30,0.00,0.00,0.30
183235,1001464,478,Zuni,CO,2017,D,Power Plants,Natural Gas,14348.40,6.50,8.94,14363.84
183236,1001464,478,Zuni,CO,2016,D,Power Plants,Natural Gas,19330.90,9.00,11.92,19351.82
183237,1001464,478,Zuni,CO,2016,D,Power Plants,Natural Gas,12.80,0.00,0.00,12.80
183238,1001464,478,Zuni,CO,2015,D,Power Plants,Natural Gas,23623.90,11.00,11.92,23646.82
183239,1001464,478,Zuni,CO,2014,D,Power Plants,Natural Gas,23850.60,11.00,11.92,23873.52
183240,1001464,478,Zuni,CO,2014,D,Power Plants,Natural Gas,41.60,0.00,0.00,41.60
183241,1001464,478,Zuni,CO,2013,D,Power Plants,Natural Gas,29600.70,13.75,17.88,29632.33
183242,1001464,478,Zuni,CO,2013,D,Power Plants,Natural Gas,1860.70,1.00,0.00,1861.70
183243,1001464,478,Zuni,CO,2012,D,Power Plants,Natural Gas,26823.10,12.50,14.90,26850.50
183244,1001464,478,Zuni,CO,2012,D,Power Plants,Natural Gas,1486.90,0.75,0.00,1487.65
183245,1001464,478,Zuni,CO,2011,D,Power Plants,Natural Gas,29277.80,13.50,14.90,29306.20
183246,1001464,478,Zuni,CO,2011,D,Power Plants,Natural Gas,1884.20,0.75,0.00,1884.95

In [88]:
d=df_Emission_Gen.dropna(subset=['Plant Code'])

In [92]:
d.loc[(d['Plant Code'] == 'No Match')]

Empty DataFrame
Columns: [Facility Id, Plant Code, Facility Name, State, Reporting Year, Industry Type (subparts), Industry Type (sectors), General Fuel Type, Fuel_CO2_Emissions, Fuel_Methan_CH4_Emissions, Fuel_Nitrous_Oxide_N2O_Emissions, Total_Emission]
Index: []

In [90]:
d=d[~(d['Plant Code'] == 'No Match')]

In [91]:
d

,Facility Id,Plant Code,Facility Name,State,Reporting Year,Industry Type (subparts),Industry Type (sectors),General Fuel Type,Fuel_CO2_Emissions,Fuel_Methan_CH4_Emissions,Fuel_Nitrous_Oxide_N2O_Emissions,Total_Emission
2,1000112,7910,23rd and 3rd,NY,2017,"C,D",Power Plants,Natural Gas,30433.60,14.00,17.88,30465.48
3,1000112,7910,23rd and 3rd,NY,2017,"C,D",Power Plants,Natural Gas,22146.90,10.25,11.92,22169.07
4,1000112,7910,23rd and 3rd,NY,2017,"C,D",Power Plants,Natural Gas,32.50,0.00,0.00,32.50
5,1000112,7910,23rd and 3rd,NY,2017,"C,D",Power Plants,Natural Gas,32.50,0.00,0.00,32.50
6,1000112,7910,23rd and 3rd,NY,2016,"C,D",Power Plants,Natural Gas,34949.20,16.25,20.86,34986.31
7,1000112,7910,23rd and 3rd,NY,2016,"C,D",Power Plants,Natural Gas,31723.00,14.75,17.88,31755.63
8,1000112,7910,23rd and 3rd,NY,2016,"C,D",Power Plants,Natural Gas,32.40,0.00,0.00,32.40
9,1000112,7910,23rd and 3rd,NY,2016,"C,D",Power Plants,Natural Gas,24.80,0.00,0.00,24.80
10,1000112,7910,23rd and 3rd,NY,2015,"C,D",Power Plants,Natural Gas,35203.30,16.25,20.86,35240.41
11,1000112,7910,23rd and 3rd,NY,2015,"C,D",Power Plants,Natural Gas,31996.00,14.75,17.88,32028.63
12,1000112,7910,23rd and 3rd,NY,2015,"C,D",Power Plants,Natural Gas,53.20,0.00,0.00,53.20
13,1000112,7910,23rd and 3rd,NY,2015,"C,D",Power Plants,Natural Gas,78.80,0.00,0.00,78.80
14,1000112,7910,23rd and 3rd,NY,2014,"C,D",Power Plants,Natural Gas,18787.00,8.75,11.92,18807.67
15,1000112,7910,23rd and 3rd,NY,2014,"C,D",Power Plants,Natural Gas,21720.10,10.00,11.92,21742.02
16,1000112,7910,23rd and 3rd,NY,2014,"C,D",Power Plants,Natural Gas,88.00,0.00,0.00,88.00
17,1000112,7910,23rd and 3rd,NY,2014,"C,D",Power Plants,Natural Gas,86.00,0.00,0.00,86.00
18,1000112,7910,23rd and 3rd,NY,2013,"C,D",Power Plants,Natural Gas,55517.60,25.75,29.80,55573.15
19,1000112,7910,23rd and 3rd,NY,2013,"C,D",Power Plants,Natural Gas,46768.40,21.75,26.82,46816.97
20,1000112,7910,23rd and 3rd,NY,2013,"C,D",Power Plants,Natural Gas,28.80,0.00,0.00,28.80
21,1000112,7910,23rd and 3rd,NY,2013,"C,D",Power Plants,Natural Gas,180.30,0.00,0.00,180.30
22,1000112,7910,23rd and 3rd,NY,2012,"C,D",Power Plants,Natural Gas,32267.80,15.00,17.88,32300.68
23,1000112,7910,23rd and 3rd,NY,2012,"C,D",Power Plants,Natural Gas,36466.10,17.00,20.86,36503.96
24,1000112,7910,23rd and 3rd,NY,2012,"C,D",Power Plants,Natural Gas,71.30,0.00,0.00,71.30
25,1000112,7910,23rd and 3rd,NY,2012,"C,D",Power Plants,Natural Gas,109.40,0.00,0.00,109.40
26,1000112,7910,23rd and 3rd,NY,2011,"C,D",Power Plants,Natural Gas,44931.10,20.75,23.84,44975.69
27,1000112,7910,23rd and 3rd,NY,2011,"C,D",Power Plants,Natural Gas,55269.10,25.50,29.80,55324.40
28,1000112,7910,23rd and 3rd,NY,2011,"C,D",Power Plants,Natural Gas,133.00,0.00,0.00,133.00
29,1000112,7910,23rd and 3rd,NY,2011,"C,D",Power Plants,Natural Gas,156.70,0.00,0.00,156.70
210,1001106,7258,48th Street Peaking Station,MI,2017,"C,D",Power Plants,Natural Gas,7366.10,3.50,2.98,7372.58
211,1001106,7258,48th Street Peaking Station,MI,2017,"C,D",Power Plants,Natural Gas,20351.60,9.50,11.92,20373.02
...,...,...,...,...,...,...,...,...,...,...,...,...
183217,1000805,55392,Zion Energy Center,IL,2014,"C,D",Power Plants,Petroleum Products,1958.91,2.00,5.96,1966.87
183218,1000805,55392,Zion Energy Center,IL,2014,"C,D",Power Plants,Natural Gas,12981.43,6.00,5.96,12993.39
183219,1000805,55392,Zion Energy Center,IL,2014,"C,D",Power Plants,Petroleum Products,3255.17,3.25,8.94,3267.36
183220,1000805,55392,Zion Energy Center,IL,2014,"C,D",Power Plants,Natural Gas,7922.06,3.75,2.98,7928.79
183221,1000805,55392,Zion Energy Center,IL,2014,"C,D",Power Plants,Petroleum Products,1642.84,1.50,2.98,1647.32
183222,1000805,55392,Zion Energy Center,IL,2014,"C,D",Power Plants,Natural Gas,94.20,0.00,0.00,94.20
183223,1000805,55392,Zion Energy Center,IL,2013,"C,D",Power Plants,Natural Gas,26184.80,12.00,14.90,26211.70
183224,1000805,55392,Zion Energy Center,IL,2013,"C,D",Power Plants,Natural Gas,22309.00,10.25,11.92,22331.17
183225,1000805,55392,Zion Energy Center,IL,2013,"C,D",Power Plants,Natural Gas,21778.00,10.00,11.92,21799.92
183226,1000805,55392,Zion Energy Center,IL,2013,"C,D",Power Plants,Natural Gas,149.80,0.00,0.00,149.80
183227,1000805,55392,Zion Energy Center,IL,2012,"C,D",Power Plants,Natural Gas,36659.50,17.00,20.86,36697.36
183228,1000805,55392,Zion Energy Center,IL,2012,"C,D",Power Plants,Natural Gas,11509.30,5.25,5.96,11520.51
183229,1000805,55392,Zion Energy Center,IL,2012,"C,D",Power Plants,Natural Gas,29784.60,13.75,17.88,29816.23
183230,1000805,55392,Zion Energy Center,IL,2012,"C,D",Power Plants,Natural Gas,0.20,0.00,0.00,0.20
183231,1000805,55392,Zion Energy Center,IL,2011,"C,D",Power Plants,Natural Gas,16110.90,7.50,8.94,16127.34
183232,1000805,55392,Zion Energy Center,IL,2011,"C,D",Power Plants,Natural Gas,20230.40,9.50,11.92,20251.82
183233,1000805,55392,Zion Energy Center,IL,2011,"C,D",Power Plants,Natural Gas,30401.90,14.00,17.88,30433.78
183234,1000805,55392,Zion Energy Center,IL,2011,"C,D",Power Plants,Natural Gas,0.30,0.00,0.00,0.30
183235,1001464,478,Zuni,CO,2017,D,Power Plants,Natural Gas,14348.40,6.50,8.94,14363.84
183236,1001464,478,Zuni,CO,2016,D,Power Plants,Natural Gas,19330.90,9.00,11.92,19351.82
183237,1001464,478,Zuni,CO,2016,D,Power Plants,Natural Gas,12.80,0.00,0.00,12.80
183238,1001464,478,Zuni,CO,2015,D,Power Plants,Natural Gas,23623.90,11.00,11.92,23646.82
183239,1001464,478,Zuni,CO,2014,D,Power Plants,Natural Gas,23850.60,11.00,11.92,23873.52
183240,1001464,478,Zuni,CO,2014,D,Power Plants,Natural Gas,41.60,0.00,0.00,41.60
183241,1001464,478,Zuni,CO,2013,D,Power Plants,Natural Gas,29600.70,13.75,17.88,29632.33
183242,1001464,478,Zuni,CO,2013,D,Power Plants,Natural Gas,1860.70,1.00,0.00,1861.70
183243,1001464,478,Zuni,CO,2012,D,Power Plants,Natural Gas,26823.10,12.50,14.90,26850.50
183244,1001464,478,Zuni,CO,2012,D,Power Plants,Natural Gas,1486.90,0.75,0.00,1487.65
183245,1001464,478,Zuni,CO,2011,D,Power Plants,Natural Gas,29277.80,13.50,14.90,29306.20
183246,1001464,478,Zuni,CO,2011,D,Power Plants,Natural Gas,1884.20,0.75,0.00,1884.95

In [93]:
d=d.drop(['Fuel_CO2_Emissions', 'Fuel_Methan_CH4_Emissions', 'Fuel_Nitrous_Oxide_N2O_Emissions'], axis=1)

In [94]:
d_new = d.groupby(['Facility Id', 'Reporting Year','Plant Code', 'State'], as_index=False).agg({'Total_Emission': 'sum'})

In [95]:
d_new

      Facility Id  Reporting Year  Plant Code State  Total_Emission
0         1000001            2011       54537    WA       35878.164
1         1000001            2012       54537    WA       14716.820
2         1000001            2013       54537    WA      395316.620
3         1000001            2014       54537    WA      333194.160
4         1000001            2015       54537    WA      405726.250
5         1000001            2016       54537    WA      354146.680
6         1000001            2017       54537    WA      350893.080
7         1000033            2011       50300    CA       62422.564
8         1000033            2012       50300    CA       65686.252
9         1000033            2013       50300    CA       56025.440
10        1000033            2014       50300    CA       55070.592
11        1000033            2015       50300    CA       53784.948
12        1000033            2016       50300    CA        1685.944
13        1000033            2017       50300    CA           0.000
14        1000049            2011       55478    SD        2688.050
15        1000049            2012       55478    SD        7800.980
16        1000049            2013       55478    SD        5113.980
17        1000049            2014       55478    SD        2185.700
18        1000049            2015       55478    SD        7200.230
19        1000049            2016       55478    SD        7597.280
20        1000049            2017       55478    SD        5618.680
21        1000050            2011       55479    WY      854495.770
22        1000050            2012       55479    WY      816336.930
23        1000050            2013       55479    WY      858205.550
24        1000050            2014       55479    WY      844021.780
25        1000050            2015       55479    WY      872106.720
26        1000050            2016       55479    WY      838596.410
27        1000050            2017       55479    WY      874714.540
28        1000051            2012       57483    CA       43890.602
29        1000051            2013       57483    CA       44507.390
...           ...             ...         ...   ...             ...
9867      1012054            2017       57839    NJ     1738170.450
9868      1012065            2015       57349    DE      102627.120
9869      1012065            2016       57349    DE      593507.340
9870      1012065            2017       57349    DE      667579.730
9871      1012074            2015       58235    NJ        1921.300
9872      1012074            2016       58235    NJ       68013.540
9873      1012074            2017       58235    NJ       53097.500
9874      1012095            2011       50537    CA       26991.848
9875      1012095            2012       50537    CA       26203.052
9876      1012095            2013       50537    CA       26488.900
9877      1012095            2014       50537    CA       25186.804
9878      1012095            2015       50537    CA       22163.016
9879      1012095            2016       50537    CA       24551.256
9880      1012095            2017       50537    CA       24553.008
9881      1012122            2016       58426    PA      895090.388
9882      1012122            2017       58426    PA     2317308.118
9883      1012152            2016       59926    MI      232663.768
9884      1012152            2017       59926    MI      318047.498
9885      1012196            2016       58420    PA      800851.098
9886      1012196            2017       58420    PA     2113847.136
9887      1012414            2016       57555    CA       25255.880
9888      1012414            2017       57555    CA       91479.710
9889      1012567            2016       58811    PA       26528.100
9890      1012567            2017       58811    PA       26388.252
9891      1012599            2016       58715    PA       41279.244
9892      1012599            2017       58715    PA       27768.444
9893      1012606            2016       58503    OR      541859.778
9894      1012606            2017       58503    OR      902884.168
9895      1012840            2016        1877    MI       31797.280
9896      1012840            2017        1877    MI       18498.432

[9897 rows x 5 columns]

In [96]:
f1 = 'Generation_Yearly _For_Emission.xlsx'
df_generation = pd.read_excel(f1, sheet_name=0, header=0, sort=False)

In [97]:
df_generation.dtypes

Plant Code          int64
Reporting Year      int64
Generation        float64
dtype: object

In [98]:
df_result = d_new.merge(df_generation, on=['Plant Code','Reporting Year'])

In [99]:
df_result

,Facility Id,Reporting Year,Plant Code,State,Total_Emission,Generation
0,1000001,2011,54537,WA,35878.164,1.029530e+05
1,1000001,2012,54537,WA,14716.820,4.331100e+04
2,1000001,2013,54537,WA,395316.620,8.693880e+05
3,1000001,2014,54537,WA,333194.160,7.230520e+05
4,1000001,2015,54537,WA,405726.250,8.688480e+05
5,1000001,2016,54537,WA,354146.680,7.423470e+05
6,1000001,2017,54537,WA,350893.080,7.413570e+05
7,1000033,2011,50300,CA,62422.564,1.204010e+05
8,1000033,2012,50300,CA,65686.252,1.272330e+05
9,1000033,2013,50300,CA,56025.440,1.065320e+05
10,1000033,2014,50300,CA,55070.592,1.013080e+05
11,1000033,2015,50300,CA,53784.948,1.033580e+05
12,1000033,2016,50300,CA,1685.944,3.190000e+03
13,1000033,2017,50300,CA,0.000,-1.130000e+02
14,1000049,2011,55478,SD,2688.050,3.900000e+03
15,1000049,2012,55478,SD,7800.980,1.285300e+04
16,1000049,2013,55478,SD,5113.980,8.391000e+03
17,1000049,2014,55478,SD,2185.700,2.917000e+03
18,1000049,2015,55478,SD,7200.230,1.086300e+04
19,1000049,2016,55478,SD,7597.280,1.165700e+04
20,1000050,2011,55479,WY,854495.770,7.197370e+05
21,1000050,2012,55479,WY,816336.930,6.846710e+05
22,1000050,2013,55479,WY,858205.550,7.052520e+05
23,1000050,2014,55479,WY,844021.780,7.054060e+05
24,1000050,2015,55479,WY,872106.720,7.345530e+05
25,1000050,2016,55479,WY,838596.410,7.105240e+05
26,1000050,2017,55479,WY,874714.540,7.217800e+05
27,1000051,2012,57483,CA,43890.602,2.792200e+04
28,1000051,2013,57483,CA,44507.390,7.790000e+04
29,1000051,2014,57483,CA,56780.360,9.967300e+04
...,...,...,...,...,...,...
9077,1011885,2016,57946,MO,1172.196,2.001000e+03
9078,1011896,2015,58471,TX,27451.230,6.116900e+04
9079,1011896,2016,58471,TX,149858.540,2.300910e+05
9080,1011999,2015,58325,OK,23746.720,3.328100e+04
9081,1011999,2016,58325,OK,27397.250,3.802700e+04
9082,1012008,2015,58562,TX,143850.160,3.245730e+05
9083,1012008,2016,58562,TX,373483.370,8.505420e+05
9084,1012016,2015,56497,KS,26284.552,5.251700e+04
9085,1012016,2016,56497,KS,77219.860,1.615910e+05
9086,1012045,2015,57703,WY,49797.960,1.088640e+05
9087,1012045,2016,57703,WY,73234.478,1.623650e+05
9088,1012045,2017,57703,WY,56460.208,1.242710e+05
9089,1012054,2015,57839,NJ,27957.728,1.606540e+05
9090,1012054,2016,57839,NJ,1609154.778,4.751779e+06
9091,1012065,2015,57349,DE,102627.120,5.045430e+05
9092,1012065,2016,57349,DE,593507.340,1.565124e+06
9093,1012074,2015,58235,NJ,1921.300,3.273000e+03
9094,1012074,2016,58235,NJ,68013.540,1.295500e+05
9095,1012095,2011,50537,CA,26991.848,3.040100e+04
9096,1012095,2012,50537,CA,26203.052,3.184100e+04
9097,1012095,2013,50537,CA,26488.900,3.296400e+04
9098,1012095,2014,50537,CA,25186.804,3.018000e+04
9099,1012095,2015,50537,CA,22163.016,2.657300e+04
9100,1012095,2016,50537,CA,24551.256,3.052300e+04
9101,1012095,2017,50537,CA,24553.008,2.953000e+04
9102,1012122,2016,58426,PA,895090.388,2.942537e+06
9103,1012196,2016,58420,PA,800851.098,2.628001e+06
9104,1012414,2016,57555,CA,25255.880,3.624700e+04
9105,1012606,2016,58503,OR,541859.778,1.362782e+06
9106,1012840,2016,1877,MI,31797.280,5.294300e+04

In [100]:
df_result['Generation'].isna().unique()

array([False])

In [101]:
df_result['Total_Emission'].isna().unique()

array([False])

In [103]:
df_result.to_csv('pre_processed1.csv', encoding='utf-8', index=False)

In [104]:
df_result.dtypes

Facility Id         int64
Reporting Year      int64
Plant Code          int64
State              object
Total_Emission    float64
Generation        float64
dtype: object

In [105]:
# Feature normalization
encode_numeric_range(df_result, 'Generation')

In [106]:
df_result.State.nunique()

51

In [ ]:
#Linear Regression
from sklearn import datasets, linear_model

#XTrain, XTest, YTrain, YTest = train_test_split(x, y, test_size=0.2, random_state=42)
#x_train, x_test, y_train, y_test = train_test_split(x, y, test_size=0.25, random_state=42)

regr = linear_model.LinearRegression()
regr.fit(x_train, y_train)
liReg_pred = regr.predict(x_test)

print('Coefficients: \n', regr.coef_)
score = np.sqrt(metrics.mean_squared_error(liReg_pred,y_test))
print("Final score (RMSE): {}".format(score))
print('Variance score: %.2f' % r2_score(y_test, liReg_pred))
# Plot the chart
chart_regression(liReg_pred.flatten()[0:100],y_test[0:100])